@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: url("../images/desktop-1920x1080.jpg") no-repeat center center fixed;
}
header {
    background-color: rgba(0,0,0,.5);
}

#containerLogo, #linkWebFooter i{
    color: #f2f3f6;
}
button{
    color: #f2f3f6;
}
#containerLogo:hover i, #linkWebFooter:hover i {
    color: #707173;
}
main {
    color: #f2f3f6;
}
#titreSectionSearch {
    color: #f2f3f6;
    font-family: 'Montserrat', sans-serif;
}
/****##### L I V R E #####****/
#containerLivre{
    background-color: rgba(0,0,0,.5);
    width: 45%;
    max-width: 45%;
}
#containerLivre h2{
    color: #f2f3f6;
}
/****##### D I S P L A Y B O O K #####****/
#displayBook {
    background-color: rgba(0,0,0,.5);
}