@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: url("../images/BVToZW-2116921599.jpg") no-repeat center center fixed;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.5);
}

header {
    background-color: rgba(0,0,0,.5);
}

#containerLogo, #linkWebFooter i{
    color: #f2f3f6;
}
button{
    color: #f2f3f6;
}
#containerLogo:hover i, #linkWebFooter:hover i {
    color: #707173;
}
main {
    color: #f2f3f6;
}
#titreSectionSearch {
    color: #f2f3f6;
    font-family: 'Montserrat', sans-serif;
}
#warpperForm {
    background-color: rgba(0,0,0,.5);
}
#results {
    background-color: rgba(0,0,0,.5);
}
#results:hover {
    background-color: rgba(0,0,0,.7);
}
.result {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    border: 1px solid rgb(71 85 105);
}
.result:hover {
    background-color: #6E3FC7;
}
/****##### L I V R E #####****/
#containerLivre{
    background-color: rgba(0,0,0,.5);
    width: 45%;
    max-width: 45%;
}
#containerLivre h2{
    color: #f2f3f6;
}
/****##### D I S P L A Y B O O K #####****/
#displayBook {
    background-color: rgba(0,0,0,.5);
}